---
- name: restart wireguard
  ansible.builtin.systemd:
    name: "wg-quick@{{ wg_interface }}"
    state: restarted

- name: reload wireguard
  ansible.builtin.shell: |
    wg syncconf {{ wg_interface }} <(wg-quick strip {{ wg_interface }})
  args:
    executable: /bin/bash
  changed_when: false
